
.slate {
    background-color: var(--slate-background-color);
    border-radius: .5em;
    border: .2em solid var(--border-color);
}

.field {
    background-color: var(--field-background-color);
    border-radius: .5em;
    border: .2em solid var(--border-color);
    margin: 1em;
}

code {
    font-size: 1em;
    color: var(--text-on-background-color);
}