
.slate {
    background-color: var(--slate-background-color);
    border-radius: .5em;
    border: .2em solid var(--border-color);
}

.field {
    background-color: var(--field-background-color);
    border-radius: .5em;
    border: .2em solid var(--border-color);
    margin: 1em;
}

pre code {
    font-size: 1.15em;
    color: var(--text-on-background-color);
}

pre{
    padding-left: .75em;
    margin-bottom: 0;
    border-bottom-color: var(--border-color);
    border-bottom-style: solid;
    border-bottom-width: .25em;
}