html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.sb {
    justify-content: space-between;
}

.column45 {
    min-width: 45%;
    width: 45%;
    max-width: 45%;
}
.column55 {
    min-width: 55%;
    width: 55%;
    max-width: 55%;
}

.hidden {
    display: none;
}

.commandArea {
    width: 40%;
    height: 95vh;
}

.commandHistory {
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    overflow: auto;
}

ul.response-list {
    list-style-type: none;
    padding: .25em;
}

li.response {
    padding: .25em;
}

li.response::before{
    content: " ";
    height: .8em;
    width: .8em;
    border-radius: 50%;
    display: inline-block;
    margin-right: .25em;
}

li.success-response::before {
    background-color: var(--success-color);
}

li.error-response::before {
    background-color: var(--error-color);
}

#inputField {
    width: 100%;
    height: 15vh;
    padding: 0.8em;
    display: block;
    box-sizing: border-box;
    resize: none;
}

.visualizationArea {
    width: 55%;
}

.robotVisualization {
    height: 45vh;
    width: 100%;
    box-sizing: border-box;
}

.variableView {
    height: 45vh;
    width: 100%;
    box-sizing: border-box;
    padding: .8em;
}

.variableViewColum {
    width: 45%;
    box-sizing: border-box;
    overflow: auto;
}

.variableViewColum h2 {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 0.1em solid var(--text-on-background-color);
}

.command-highlighted {
    background-color: var(--group-A-active-color) !important;
}

#stateVariablePopup {
    width: 100%;
    cursor: pointer;
    z-index: 1000; /* high z-index */
    background: #000; /* fallback */
    background: rgba(0,0,0,0.5);
}
.stateVariableSelectionWrapper label {
    margin-left: .3em;
    margin-bottom: .5em;
}